.table-container {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

table {
  padding: 5px;
  border-radius: 10px;
  border-spacing: 0px;
  text-align: center;

}

/* tr {
  th {
    &:nth-child(1) {
      border-radius: 10px 0px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 10px 0px 0px;
    }
  }

  &:last-child {
    td {
      &:nth-child(1) {
        border-radius: 0px 0px 0px 10px;
      }

      &:last-child {
        border-radius: 0px 0px 10px 0px;
      }
    }
  }
} */

th {
  width: auto;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #764576;
  background-color: #5b3fb1;
}

td {
  width: auto;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #764576;

}